services:
  xunlei:
    container_name: xunlei
    image: cnk3x/xunlei
    network_mode: bridge
    restart: always
    privileged: true
    hostname: mynas
    ports:
      - ${HOST_PORT}:2345  # 使用变量，脚本会替换${HOST_PORT}
    volumes:
      - ./config:/xunlei/data
      - ./downloads:/xunlei/downloads
    deploy:
      resources:
        limits:
          memory: 1024M
          cpus: "0.5"
        reservations:
          memory: 512M
          cpus: "1.0"
