services:
   qbittorrent:
      image: lscr.io/linuxserver/qbittorrent:latest
      container_name: qbittorrent
      environment:
         - PUID=1000
         - PGID=1000
         - TZ=Etc/UTC
         - WEBUI_PORT=${HOST_PORT}
         - TORRENTING_PORT=6881
      volumes:
         - ./config:/config
         - ./downloads:/downloads
      ports:
         - ${HOST_PORT}:8080
         - 6881:6881
         - 6881:6881/udp
      restart: unless-stopped
